body
  padding 6em
  background-color lightgrey

.navbar-fixed-top
  background-color darkgrey
  border-bottom solid black .1em

.navbar-header a.navbar-brand
  /*margin-top -.05em*/
  margin-bottom -.25em
  margin-right 2.5em

.navbar-form
  .form-group
    margin-left .75em
  button
    margin-left .5em
  a
    margin-left .5em

.toast-top-right
  top 4.4em
  background-color darkgrey

.howToUse
  margin-bottom 1em

.step
  margin 1em

.glyphicon-chevron-right
  font-size 3em

p.stepInstruction
  padding .25em
  font-size 1.5em

footer
  padding-left 1em
  padding-right 1em

footer.container.text-center
  border-top solid black .1em
  margin-top 3em
