.container
    .well
        form.form-horizontal(name="createCredentialsForm")
            fieldset
                legend Create New Credentials
                .form-group
                    label.col-md-2.control-label(for="username") Username
                    .col-md-6
                        input.form-control(name="username", type="text", placeholder="Username", ng-model="username", required)
                .form-group
                    label.col-md-2.control-label(for="password") Password
                    .col-md-6
                        input.form-control(name="password", type="text", placeholder="Password", ng-model="password", required)
                .form-group
                    .col-md-6.col-md-offset-2
                        .pull-right
                            button.btn.btn-primary(ng-click="createNewCredentials()", ng-disabled="createCredentialsForm.$invalid") Submit
                            | &nbsp;
                            a.btn.btn-default(href="/credentials") Cancel
