.container
    .jumbotron
        h1.text-center PassShare
        p
            |   Welcome to the PassShare application! With this service, you can create
            |   account login information and make other notes for an account. After that,
            |   you can share this information with other users on this site!

    //Add CSS to beautify homepage once functionality is obtained [per Collier]
    h2.howToUse How to use:
    p >> Step 1: Create A User
    p >> Step 2: Create An Account With Content
    p >> Step 3: Share That Account Content With Another User!