.container
    .jumbotron
        h1.text-center PassShare
        p
            |   Welcome to the PassShare application! With this service, you can create
            |   account login information and make other notes for an account. After that,
            |   you can share this information with other users on this site!

    //Add CSS to beautify homepage once functionality is obtained [per Collier]
    //    glyphicon glyphicon-chevron-right
    h2.howToUse How to use:
    //Glyphicons not loading properly - Research and fix
    .col-md-12.step
        .col-md-1
            span.glyphicon.glyphicon-chevron-right
        .col-md-11
            p.stepInstruction Step 1: Create a User Account
    .col-md-12.step
        .col-md-1
            span.glyphicon.glyphicon-chevron-right
        .col-md-11
            p.stepInstruction Step 2: Create User Account Content
    .col-md-12.step
        .col-md-1
            span.glyphicon.glyphicon-chevron-right
        .col-md-11
            p.stepInstruction Step 3: Share Account Content with Another User!
